lib/
modules/
docs/
chain/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
*.keys
*.pri
*.pub
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.vtc
*~
doc/
target/
.classpath
.settings/
.project

# IntelliJ
out/
.idea_modules/
.idea/
*.iml

# JavaScript
node_modules/
.npm
*.tgz



